openapi: 3.0.3
info:
  title: DOKU Payment Access Token Payout API
  description: DOKU (PT Nusa Satu Inti Artha) payment APIs for Indonesia. Includes the non-SNAP hosted Checkout API and Bank Indonesia SNAP (Standar Nasional Open API Pembayaran) endpoints for Virtual Account, e-Wallet / Direct Debit, QRIS, and Kirim payout. Checkout uses Client-Id + Request-Id + Request-Timestamp + HMAC-SHA256 Signature headers; SNAP uses an asymmetric SHA256withRSA access token followed by HMAC-SHA512 transaction signatures.
  version: '1.0'
  contact:
    name: DOKU Developer Support
    url: https://developers.doku.com/
  termsOfService: https://www.doku.com/en-us/terms-and-conditions
servers:
- url: https://api.doku.com
  description: Production
- url: https://api-sandbox.doku.com
  description: Sandbox
tags:
- name: Payout
  description: Kirim DOKU disbursement to bank accounts.
paths:
  /payout/kirim-doku/balance-inquiry:
    post:
      operationId: payoutBalanceInquiry
      tags:
      - Payout
      summary: Inquire disbursement source balance
      security:
      - SnapBearer: []
        SnapSymmetric: []
      parameters:
      - $ref: '#/components/parameters/XPartnerId'
      - $ref: '#/components/parameters/XExternalId'
      - $ref: '#/components/parameters/XTimestamp'
      responses:
        '200':
          description: Balance result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapResponse'
  /payout/kirim-doku/account-inquiry:
    post:
      operationId: payoutAccountInquiry
      tags:
      - Payout
      summary: Validate a recipient bank account
      security:
      - SnapBearer: []
        SnapSymmetric: []
      parameters:
      - $ref: '#/components/parameters/XPartnerId'
      - $ref: '#/components/parameters/XExternalId'
      - $ref: '#/components/parameters/XTimestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                beneficiaryBankCode:
                  type: string
                beneficiaryAccountNo:
                  type: string
      responses:
        '200':
          description: Account inquiry result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapResponse'
  /payout/kirim-doku/transfer-bank:
    post:
      operationId: payoutTransferBank
      tags:
      - Payout
      summary: Disburse funds to a recipient bank account
      security:
      - SnapBearer: []
        SnapSymmetric: []
      parameters:
      - $ref: '#/components/parameters/XPartnerId'
      - $ref: '#/components/parameters/XExternalId'
      - $ref: '#/components/parameters/XTimestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partnerReferenceNo:
                  type: string
                beneficiaryBankCode:
                  type: string
                beneficiaryAccountNo:
                  type: string
                amount:
                  $ref: '#/components/schemas/Amount'
                remark:
                  type: string
      responses:
        '200':
          description: Transfer result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapResponse'
  /payout/kirim-doku/check-status:
    post:
      operationId: payoutCheckStatus
      tags:
      - Payout
      summary: Check a disbursement transaction status
      security:
      - SnapBearer: []
        SnapSymmetric: []
      parameters:
      - $ref: '#/components/parameters/XPartnerId'
      - $ref: '#/components/parameters/XExternalId'
      - $ref: '#/components/parameters/XTimestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                originalPartnerReferenceNo:
                  type: string
      responses:
        '200':
          description: Status result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapResponse'
components:
  parameters:
    XPartnerId:
      name: X-PARTNER-ID
      in: header
      required: true
      schema:
        type: string
      description: Merchant partner identifier issued by DOKU.
    XTimestamp:
      name: X-TIMESTAMP
      in: header
      required: true
      schema:
        type: string
        format: date-time
      description: ISO 8601 request timestamp.
    XExternalId:
      name: X-EXTERNAL-ID
      in: header
      required: true
      schema:
        type: string
      description: Unique per-request idempotency identifier.
  schemas:
    Amount:
      type: object
      properties:
        value:
          type: string
          description: Amount as a decimal string, e.g. "50000.00".
          example: '50000.00'
        currency:
          type: string
          example: IDR
    SnapResponse:
      type: object
      properties:
        responseCode:
          type: string
          example: '2002700'
        responseMessage:
          type: string
          example: Successful
        virtualAccountData:
          type: object
          nullable: true
        additionalInfo:
          type: object
          nullable: true
  securitySchemes:
    CheckoutSignature:
      type: apiKey
      in: header
      name: Signature
      description: Non-SNAP scheme. Send Client-Id, Request-Id, Request-Timestamp and Signature headers. Signature = "HMACSHA256=" + base64(HMAC-SHA256( clientSecret, componentString )) where the component string joins Client-Id, Request-Id, Request-Timestamp, Request-Target and Digest (SHA-256 of the JSON body).
    SnapAsymmetric:
      type: apiKey
      in: header
      name: X-SIGNATURE
      description: SNAP access-token signature. Asymmetric SHA256withRSA over "clientId|X-TIMESTAMP" using the merchant private key. Sent with X-CLIENT-KEY and X-TIMESTAMP.
    SnapSymmetric:
      type: apiKey
      in: header
      name: X-SIGNATURE
      description: SNAP transaction signature. Symmetric HMAC-SHA512 over "HTTPMethod:EndpointUrl:AccessToken:Lowercase(HexEncode(SHA-256(minified body))):X-TIMESTAMP" using the client secret.
    SnapBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SNAP B2B access token from /authorization/v1/access-token/b2b.
